/* --- style file save input --- */

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
}

  
  #colorPickerBtn {
display: flex;
align-items: center;
  }

  /* --- arbitrary div container for the toolbar --- */
  #container {
    width: 1900px;
    height: 890px;
    background: #EEEEEE;
    border: 1px solid #BDBDBD;
    border-top: 0px;
    margin: auto;
  }

  #toggle-arc {
    margin-left: 100px;
  }

  /* --- button sizes --- */

  #toolbar-arrange {
    width: 70px;
  }

  #toolbar-font-family {
    width: 100px;
  }

  /* --- toolbar icons --- */

  #toolbar-undo {
    background-image: url("../icons/undo.png");
  }

  #toolbar-clone {
    background-image: url("../icons/clone.png");
  }

  #toolbar-delete {
    background-image: url("../icons/delete.png");
  }

  #toolbar-shape {
    background-image: url("../icons/shapes.png");
  }

  #toolbar-file-open {
    background-image: url("../icons/file-open.png");
  }

  #toolbar-file-save {
    background-image: url("../icons/file-save.png");
  }

  #toolbar-bring-forward {
    background-image: url("../icons/bring-forward.png");
  }

  #toolbar-send-backward {
    background-image: url("../icons/send-backward.png");
  }

  #toolbar-clear {
    background-image: url("../icons/clear.png");
  }

  #toolbar-arc {
    background-image: url("../icons/arc.png");
  }
  #toolbar-simple-node {
    background-image: url("../icons/simple-node.png");
  }
  #toolbar-node-with-picot {
    background-image: url("../icons/node-with-picot.png");
  }
  #toolbar-zoom-in {
    background-image: url("../icons/zoom-in.png");
  }
  #toolbar-zoom-out {
    background-image: url("../icons/zoom-out.png");
  }  
  #toolbar-zoom-reset {
    background-image: url("../icons/zoom-reset.png");
  }
  #toolbar-ungroup {
    background-image: url("../icons/ungroup.png");
  }
  #toolbar-group {
    background-image: url("../icons/group.png");
  }

